.pokemonCards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0;
  padding-inline-start: 0;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  flex-basis: 15%;
  min-width: 150px;
  padding: 0.75rem 0.5rem;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: border-color 300ms ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.smallCard {
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.smallInfo {
  align-items: flex-end;
  font-size: 0.9rem;
}

.focusable {
  cursor: pointer;
}

.focusable:hover,
.focusable:focus {
  color: #0070f3;
  border-color: #0070f3;
}

.focusable:focus .sprite,
.focusable:hover .sprite {
  animation: hop 300ms infinite;
}

.empty {
  background-color: grey;
  justify-content: center;
}

.loading {
  animation: spin 1s linear infinite;
}

.checkmark {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  color: #0070f3;
}

.name {
  text-transform: capitalize;
  margin-bottom: 0.25rem;
}

.types {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@keyframes hop {
  0%,
  100% {
    animation-timing-function: linear;
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-3px);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .card {
    padding: 0 0.5rem 0 0;
    justify-content: space-between;
    flex-direction: row;
    flex-basis: 100%;
  }
}
